.container-fluid {
    background-color: gray;
    color: beige;
    height: 100vh;
    background-image: url(../../assets/iamges/hero\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
} 